/* styles.css */
#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
  }
  
  .square {
    width: 80px;
    height: 80px;
  }
  
  .white {
    background-color: white;
  }
  
  .black {
    background-color: black;
  }
  